.footer {
  margin-top: 2rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: end;
  background: #ff9e07;
  color: #fff;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}
